
body{
  background-color: grey;
  font-family: sans-serif;
}

h2{
font-weight: bold;
font-size: 60px;
text-align: center;
}

body p{
  font-size: 18px;
  text-align: center;
}


.player1{
  text-align: center;
  margin-top: 50px;

}
.player1 h3{
  font-size: 30px;
  font-weight: bold;
}
.player1 span{
  font-size: 25px;
  text-decoration: underline;
}

.player2{
  text-align: center;
  margin-top: 50px;
}

.player2 h3{
  font-size: 30px;
  font-weight: bold;
}

.player2 span{
  font-size: 25px;
  text-decoration: underline;
}

section .time{
  align-items: center;
  text-align: center;
  height: 50px;
}

div #memory_board{
	width:585px;
	height:500px;
	padding-left: 15px;
  padding-right: 10px;
	margin-top: 40px;
}
div #memory_board > div{
	background-image: url("tile_bg.jpg");
  background-repeat: no-repeat;
	border:#000 1px solid;
	width:70px;
	height:70px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:25px;
	cursor:pointer;
	text-align:center;
}

section .bottom{
text-align: center;
font-weight: bold;
font-size: 20px;
}

section #timer{
  font-size: 30px;
  font-weight: bold;
}
.bottom #start{
  background-color: white;
  color: black;
  cursor:pointer;
}
